table {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	border : 1px solid black;
	padding: 5px;
}
.form {
	border: none;
}
.form td {
	border: none;
}

#formSearch {
    float: left;
    width: 550px;
}
